* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #4c4177;
    background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
    height: 100vh;
    width: 100vw;
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0;
}

header {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font: 400 40px/1.3 "Oleo Script", Helvetica, sans-serif;
    color: #f6f4f4;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.search-fields {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
}

input {
    padding: 10px 20px;
    border: 1px solid white;
    margin: 10px;
    border-radius: 4px;
}

select {
    padding: 10px 20px;
    border: 1px solid white;
    margin: 10px;
    border-radius: 4px;
}

.submit-button {
    padding: 10px 20px;
    background-color: #45f884;
    margin: 10px;
    letter-spacing: 2px;
    border: 1px solid #1db954;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}

.submit-button:hover {
    background-color: #1db954;
}

.more-button {
    padding: 20px;
    background-color: #ceffe0;
    border: 2px solid black;
    margin: 10px;
    letter-spacing: 2px;
    display: block;
    margin: 20px auto 5px;
    visibility: hidden;
}

.hidden {
    visibility: hidden;
}

.results-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    flex-wrap: wrap;
    background-color: #4c4177;
    background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
}

.results-wrap {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    flex-wrap: wrap;
    margin: 20px;
}

.results-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.album-cover {
    width: 300px;
    height: 280px;
    border: 1px solid silver;
}

.result {
    flex-basis: 30%;
    margin: 20px;
}

.message {
    color: rgb(236, 232, 232);
    margin: 10px;
    text-align: center;
}

.artist-name {
    margin-bottom: 7px;
    height: auto;
    min-height: 25px;
}
.followers {
    font-size: 0.8em;
    margin-bottom: 10px;
    color: rgb(212, 212, 212);
}

a {
    text-decoration: none;
    color: #1db954;
}

a:hover {
    color: #23ff70;
}

a:active {
    color: #1db954;
}

.spotify-icon {
    width: 80px;
}

footer {
    height: 20px;
}

.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 64px;
    height: 64px;
    z-index: 9999;
    cursor: pointer;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    background-image: url(assets/top.png);
    background-size: 50px;
    background-repeat: no-repeat;
    visibility: hidden;
}
.back-to-top:hover {
    opacity: 0.7;
}
